@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100');

:root {
	--primary-color: #c7a17a;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: "Roboto";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILITIES              */
/* ********************************** */
@media (min-height: 30em) {
	main {
		scroll-snap-type: y mandatory;
		height: 100vh;
		overflow-y: auto;
		scroll-behavior: smooth;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */		
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	main::-webkit-scrollbar {
		display: none;
	}
	.child {
		height: 100vh;
	}
}
.child {
	scroll-snap-align: center;
	min-height: 100vh;	
}
/* ********************************** */
/*               HEADER               */
/* ********************************** */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 2rem;
	position: fixed;
	z-index: 3;
	width: 100%;
}
header .logo {
	margin-top: 0px;
	margin-left: 30px;
}

header .logo .white{
	display: none;
}

header .logo .black{
	display: none;
}

header .logo svg{
	width: 140px;
	height:  auto;
}

header .menu-icon svg{
	width: 35px;
	height:  auto;
}

header .menu-icon {
	cursor: pointer;
	margin-right: 30px;
	display: flex;
    align-items: center;
}

header .menu-icon .section-title {
	font-size: 32px;
    padding: 0 2rem;
    line-height: 37px;
    font-weight: 400;
	text-transform: uppercase;
}

.rotate svg{
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.rotate svg line{
	stroke: #fff;
}

.active line {
	stroke: #fff;
}

/* ********************************** */
/*               HOME                 */
/* ********************************** */
.home {
	overflow: hidden;
	height: 100vh;
	position: relative;
}

.home::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha value for darkness */
	z-index: 0;
}

.home .logo-circle {
	display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
}
.home .logo-circle img{ 
	width: 250px;
    height: auto;
}
.home video {
	position: relative;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.menu {
	position: fixed;
  	top: -100%;
}

.menu.show {
	display: block;
	width: 100%;
    height: 100%;
    background: #000;
    font-family: 'Roboto';    
    padding: 20rem;
	transition: all 0.6s ease-in-out;
  	top: 0;
	z-index: 2;
}

.menu.show a {
	text-decoration: none;
}

.menu.show a li {
	color: #fff;
    cursor: pointer;
    list-style-type: none;
    line-height: 55px;
    padding: 2rem;
	font-size: 62px;
}

.menu.show .main-menu a li:hover {
	color: #FFD601;
	font-style: italic;
}
.menuItems {
	display: flex;
	justify-content: space-between;
}
.menuItems .social-buttons{
	display: flex;
	align-items: flex-end;
    justify-content: flex-end;
	flex-direction: column;
    row-gap: 2rem;
}
.menuItems .social-buttons div{
	display: flex;
}
.menuItems .social-buttons a{
	text-transform: uppercase;
	border-radius: 50px;
	border: 1px solid #FFD601;
	text-decoration: none;
	margin-left: 1rem;
	margin-right: 1rem;
    width: 180px;
    text-align: center;
	transition: 0.25s;
}

.menuItems .social-buttons a:hover, 
.menuItems .social-buttons a:focus{ 
	border-color: #fff;
  	color: #FFD601;
	box-shadow: inset 180px 0 0 0 #fff;
}

.menuItems .social-buttons a:hover li, a:focus li{ 
	color: #FFD601;
}

.menuItems .social-buttons a li{
	color: #fff;
    cursor: pointer;
    list-style-type: none;
    line-height: 28px;
    padding: 1.5rem;
	font-size: 24px;
}
.menu.show .contact-block {
	display: flex;
    height: 50%;
    justify-content: end;
    align-items: end;
}
.menu.show .contact-block a{
	width: 280px;
    text-align: center;
    transition: 0.25s;
    text-transform: uppercase;
    border-radius: 50px;
    border: 1px solid #fff;
    text-decoration: none;
}
.menu.show .contact-block a li{
	color: #fff;
    cursor: pointer;
    list-style-type: none;
    line-height: 28px;
    padding: 1.5rem 2rem;
    font-size: 32px;
}
.menu.show .contact-block a:hover, 
.menu.show .contact-block a:focus{ 
	box-shadow: inset 280px 0 0 0 #fff;
}
.menu.show .contact-block a:hover li, a:focus li{ 
	color: #FFD601;
}

/* ********************************** */
/*               HOME BOTTOM          */
/* ********************************** */
.home-bottom {
	background: #fff;
    height: 100vh;
	background-image: url('../images/home2_back.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-bottom .home-bottom-text{
	width: 100%;
    height: 100%;
    padding: 20rem 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	row-gap: 2rem;
}
.home-bottom .home-bottom-text h1{
	font-weight: 800;
	font-size: 80px;
	line-height: 82px;
}

.home-bottom .home-bottom-text h1 span{
	color: #1DB19E;
	padding: 0rem 10rem;
}

.home-bottom .home-bottom-text p{
	font-weight: 400;
	font-size: 32px;
	line-height: 37px;
	text-transform: inherit;
	padding: 2rem 12rem;
}
.home-bottom .home-bottom-text .home-bottom-button{
	display: flex;
    justify-content: center;
}

.home-bottom .home-bottom-text .home-bottom-button a{
	border: 1px solid #000;
    border-radius: 100%;
    padding: 3rem 4.25rem;
}

/* ********************************** */
/*               ABOUT US             */
/* ********************************** */
.aboutus {
	background: #70E1CC;
    height: 100vh;
	background-image: url('../images/about_back.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutus .about-text{
	width: 100%;
    height: 100%;
    padding: 20rem 36rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	row-gap: 2rem;
}
.aboutus .about-text h1{
	font-weight: 700;
	font-size: 62px;
	line-height: 72px;
	text-transform: uppercase;
}
.aboutus .about-text h4{
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	text-transform: uppercase;
}

.aboutus .about-text p{
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	text-transform: inherit;
}
.aboutus .about-text .read-more{
	display: flex;
    justify-content: center;
	padding: 2rem;
}

.aboutus .about-text .read-more a{
	font-weight: 700;
    font-size: 32px;
    text-decoration: none;
    color: #70E1CC;
    background: #000;
	line-height: 35px;
	text-transform: uppercase;
	padding: 2rem 5rem;
    border-radius: 50px;
}
.aboutus .about-text .read-more a span{
	margin-left: 2rem;
}

/* ********************************** */
/*               SERVICES             */
/* ********************************** */
.services {
	background: #FFF;
    height: 100vh;
	background-image: url('../images/services_back.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.services .services-text{
	width: 100%;
    height: 100%;
    padding: 20rem 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	row-gap: 2rem;
}
.services .services-text h1{
	font-weight: 700;
	font-size: 62px;
	line-height: 72px;
	text-transform: uppercase;
	color: #1DB19E;
}
.services .services-text h4{
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	text-transform: uppercase;
}

.services .services-text p{
	font-weight: 400;
	font-size: 15px;
	line-height: 17px;
	text-transform: inherit;
}
.services .services-text .services-more{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.services .services-text .services-more .service{ 
	display: flex;
    position: relative;
    justify-content: center;
    align-items: start;
}
.service.first .icon{
	position: absolute;
    padding-top: 4rem;
    width: 40px;
}
.service.first .service-text{
	position: absolute;
    bottom: 5rem;
    width: 200px;
    font-size: 20px;
    font-weight: 800;
}
.service.second .icon{
	position: absolute;
    padding-top: 4rem;
    width: 60px;
}
.service.second .service-text{
	position: absolute;
    bottom: 4rem;
    width: 110px;
    font-size: 20px;
    font-weight: 800;
}
.service.three .icon{
	position: absolute;
    padding-top: 4rem;
    width: 80px;
}
.service.three .service-text{
	position: absolute;
    bottom: 3rem;
    width: 110px;
    font-size: 20px;
    font-weight: 800;
}
.service.four .icon{
	position: absolute;
    padding-top: 4rem;
    width: 80px;
}
.service.four .service-text{
	position: absolute;
    bottom: 4rem;
    width: 200px;
    font-size: 20px;
    font-weight: 800;
}
.service.five .icon{
	position: absolute;
    padding-top: 4rem;
    width: 80px;
}
.service.five .service-text{
	position: absolute;
    bottom: 5rem;
    width: 200px;
    font-size: 20px;
    font-weight: 800;
}
.service.six .icon{
	position: absolute;
    padding-top: 4rem;
    width: 60px;
}
.service.six .service-text{
	position: absolute;
    bottom: 5rem;
    width: 110px;
    font-size: 20px;
    font-weight: 800;
}

.services .services-text .services-more .service .circle{
	width: 200px;
}

.services .services-text .service-wrapper {
	display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* ********************************** */
/*               WORK                 */
/* ********************************** */
.work {
	background: #FB6C26;
    height: 100vh;
	background-image: url('../images/work_back.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.work .work-text{
	width: 100%;
    height: 100%;
    padding: 20rem 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	row-gap: 2rem;
}
.work .work-text h1{
	font-weight: 700;
	font-size: 62px;
	line-height: 72px;
	text-transform: uppercase;
	color: #FFF;
}
.work .work-text h4{
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	text-transform: uppercase;
	color: #FFF;
}
.work .work-text .work-filter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.work .work-text .work-filter ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.work .work-text .work-filter a li {
	color: #fff;
    cursor: pointer;
    list-style-type: none;
    line-height: 22px;
	font-size: 20px;
	padding: 1rem;
}
.work .work-text .work-filter a {
	text-decoration: none;
}
.work .work-text .work-filter li:hover,
.work .work-text .work-filter li:active {
	color: #FFD601;
}
/* ********************************** */
/*               BLOG                 */
/* ********************************** */
.blog {
	background: #FFF;
    height: 100vh;
}
.blog .blog-text{
	width: 100%;
    height: 100%;
    padding: 20rem 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	row-gap: 2rem;
}
.blog .blog-text h1{
	font-weight: 700;
	font-size: 62px;
	line-height: 72px;
	text-transform: uppercase;
	color: #3338E0;
}
.blog .blog-text h4{
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	text-transform: uppercase;
	color: #000;
}
.blog .blog-text .blog-filter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.blog .blog-text .blog-filter ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.blog .blog-text .blog-filter a li {
	color: #000;
    cursor: pointer;
    list-style-type: none;
    line-height: 22px;
	font-size: 20px;
	padding: 1rem;
}
.blog .blog-text .blog-filter a {
	text-decoration: none;
}

/* ********************************** */
/*               CONTACT US           */
/* ********************************** */
.contactus {
	background: #3338E0;
    height: 100vh;
	background-image: url('../images/contact_back.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contactus .contactus-text{
	width: 100%;
    height: 100%;
    padding: 20rem 36rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	row-gap: 2rem;
}
.contactus .contactus-text h1{
	font-weight: 700;
	font-size: 62px;
	line-height: 72px;
	text-transform: uppercase;
	color: #fff;
}
.contactus .contactus-text h4{
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	text-transform: uppercase;
	color: #fff;
}

.contactus .contactus-text p{
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	text-transform: inherit;
	color: #fff;
}
.contactus .contactus-text .contactus-more{
	display: flex;
    justify-content: center;
	padding: 2rem;
}

.contactus .contactus-text .contactus-more a{
	font-weight: 700;
    font-size: 32px;
    text-decoration: none;
    color: #fff;
    background: #000;
	line-height: 35px;
	text-transform: uppercase;
	padding: 2rem 5rem;
    border-radius: 50px;
}
.contactus .contactus-text .contactus-more a span{
	margin-left: 2rem;
}
.contactus .contactus-text .contactus-social {
	display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
	padding: 4rem;
}
.contactus .contactus-text .contactus-number {
	display: flex;
    justify-content: center;
    align-items: center;
	font-weight: 500;
	font-size: 48px;
	line-height: 55px;
	color: #fff;
}

/* ********************************** */
/*               LOCATION             */
/* ********************************** */
.location {
	background: #FFF;
    height: 100vh;
	background-image: url('../images/location_back.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.location .location-text{
	width: 100%;
    height: 100%;
    padding: 20rem 36rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
	row-gap: 2rem;
}
.location .location-text h1{
	font-weight: 700;
	font-size: 62px;
	line-height: 72px;
	text-transform: uppercase;
	color: #000;
}
.location .location-text p{
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	text-transform: inherit;
	color: #000;
}
.location .location-text .location-more{
	display: flex;
    justify-content: center;
	padding: 2rem;
}
.location .location-text .location-more iframe{
	border-radius: 100%;
}

/* ********************************** */
/*               FOOTER FAKE          */
/* ********************************** */
.footer-fake {
	background: #000;
    height: 100vh;
}
.footer-fake .footer-fake-text{
	width: 100%;
    height: 100%;
    padding: 2rem 36rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
	row-gap: 4rem;
}
.footer-fake .footer-fake-text p{
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	text-transform: inherit;
	color: #fff;
}
.footer-fake .footer-fake-text .footer-fake-menu ul{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 4rem;
}
.footer-fake .footer-fake-text .footer-fake-menu a{
	text-decoration: none;
}
.footer-fake .footer-fake-text .footer-fake-menu li{
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	text-transform: uppercase;
	color: #fff;
	list-style-type: none;
}
.footer-fake .footer-fake-text .footer-fake-logo img {
	width: 360px;
}
.footer-fake .footer-fake-text .arrow-up {
	display: flex;
    justify-content: center;
    align-items: center;
}
.footer-fake .footer-fake-text .arrow-up a {
	border: 1px solid #fff;
    border-radius: 100%;
    padding: 3rem 4.25rem;
}
/* ********************************** */
/*               FOOTER               */
/* ********************************** */
.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	width: 100%;
}
.footer .mouse img{
	width: 80px;
}
/*
.footer .mouseActive{
	border: 3px solid #000;
}

.footer .mouse::before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #FFF;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 2s infinite;
	-webkit-animation: wheel 2s infinite;
}

.footer .mouseActive::before {
	background-color: #000;
} */

@keyframes wheel {
	to {
		opacity: 0;
		top: 30px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 30px;
	}
}
/* ********************************** */
/*       MEDIA QUERIES -- 1370px       */
/* ********************************** */
@media (max-width: 1440px) {
	/*MENU*/
	.menu.show .main-menu a li {
		line-height: 20px;
		font-size: 40px;
	}

	/*HOME*/
	.home-bottom .home-bottom-text h1{
		font-size: 40px;
		line-height: 50px;
	}

	.home-bottom .home-bottom-text p{
		font-size: 18px;
		line-height: 30px;
	}

	/*ABOUT US*/
	.aboutus .about-text h1{
		font-size: 40px;
		line-height: 50px;
	}

	.aboutus .about-text h4{
		font-size: 24px;
	}
	
	.aboutus .about-text p{
		font-size: 18px;
		line-height: 30px;
	}

	/*SERVICES*/
	.services .services-text{
		padding: 15rem 30rem;
		row-gap: 1rem;
	}
	.services .services-text h1{
		font-size: 40px;
		line-height: 50px;
	}
	.services .services-text h4{
		font-size: 24px;
	}
	.service.first .icon{
		position: absolute;
		padding-top: 3rem;
		width: 30px;
	}
	.service.first .service-text{
		position: absolute;
		bottom: 4rem;
		width: 150px;
		font-size: 15px;
		font-weight: 800;
	}
	.service.second .icon{
		position: absolute;
		padding-top: 3rem;
		width: 40px;
	}
	.service.second .service-text{
		position: absolute;
		bottom: 3rem;
		width: 80px;
		font-size: 15px;
		font-weight: 800;
	}
	.service.three .icon{
		position: absolute;
		padding-top: 2rem;
		width: 60px;
	}
	.service.three .service-text{
		position: absolute;
		bottom: 2rem;
		width: 80px;
		font-size: 15px;
		font-weight: 800;
	}
	.service.four .icon{
		position: absolute;
		padding-top: 3rem;
		width: 60px;
	}
	.service.four .service-text{
		position: absolute;
		bottom: 3rem;
		width: 150px;
		font-size: 15px;
		font-weight: 800;
	}
	.service.five .icon{
		position: absolute;
		padding-top: 3rem;
		width: 60px;
	}
	.service.five .service-text{
		position: absolute;
		bottom: 4rem;
		width: 150px;
		font-size: 15px;
		font-weight: 800;
	}
	.service.six .icon{
		position: absolute;
		padding-top: 3rem;
		width: 40px;
	}
	.service.six .service-text{
		position: absolute;
		bottom: 3rem;
		width: 80px;
		font-size: 15px;
		font-weight: 800;
	}
	
	.services .services-text .services-more .service .circle{
		width: 150px;
	}
	/*WORK*/
	.work .work-text h1{
		font-size: 40px;
		line-height: 50px;
	}

	.work .work-text h4{
		font-size: 24px;
	}
	.work .work-text {
		padding: 15rem 20rem;
	}
	.work .work-text .work-filter a li {
		font-size: 18px;
	}
	/*BLOG*/
	.blog .blog-text h1{
		font-size: 40px;
		line-height: 50px;
	}

	.blog .blog-text h4{
		font-size: 24px;
	}
	.blog .blog-text {
		padding: 15rem 20rem;
	}
	.blog .blog-text .blog-filter a li {
		font-size: 18px;
	}
	/*CONTACT US*/
	.contactus .contactus-text h1{
		font-size: 40px;
		line-height: 50px;
	}

	.contactus .contactus-text h4{
		font-size: 24px;
	}
	.contactus .contactus-text p{
		font-size: 18px;
		line-height: 30px;
	}
	/*LOCATION*/
	.location  .location-text h1{
		font-size: 40px;
		line-height: 50px;
	}
	.location  .location-text p{
		font-size: 18px;
		line-height: 30px;
	}
	.location .location-text .location-more iframe{
		width: 300px;
		height: 300px;
	}

	/*FOOTER FAKE*/
	.footer-fake  .footer-fake-text p{
		font-size: 18px;
		line-height: 30px;
	}
	.footer-fake .footer-fake-text .footer-fake-logo img {
		width: 260px;
	}
	.footer-fake .footer-fake-text .footer-fake-menu li {
		font-size: 20px;
	}
	/*FOOTER SCROLL*/
	.footer .mouse img{
		width: 60px;
	}
}